{
  "openapi": "3.0.0",
  "info": {
    "title": "UnderPass Public API",
    "version": "1.0.0",
    "description": "Public API for browsing events and starting ticket purchases on the UnderPass platform. Use this to build a custom event landing or checkout experience on your own domain. All endpoints are scoped by `account_id` (your tenant's UUID, provided during onboarding).",
    "contact": {
      "name": "UnderPass Engineering",
      "email": "developers@underpass.com.co",
      "url": "https://underpass.com.co"
    }
  },
  "servers": [
    {
      "url": "https://api.underpass.com.co",
      "description": "Production"
    },
    {
      "url": "https://api-dev.underpass.com.co",
      "description": "Development"
    }
  ],
  "paths": {
    "/api/events/public": {
      "get": {
        "operationId": "EventsController_findPublicEvents",
        "parameters": [
          {
            "name": "include_artists",
            "required": false,
            "in": "query",
            "description": "Include artist information (default: false)",
            "schema": {}
          },
          {
            "name": "include_tickets",
            "required": false,
            "in": "query",
            "description": "Include ticket information (default: true)",
            "schema": {}
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "schema": {}
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {}
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "description": "Filter by event location country",
            "schema": {}
          },
          {
            "name": "city",
            "required": false,
            "in": "query",
            "description": "Filter by event location city",
            "schema": {}
          },
          {
            "name": "start_date_to",
            "required": false,
            "in": "query",
            "description": "Filter events starting until this date (ISO string)",
            "schema": {}
          },
          {
            "name": "start_date_from",
            "required": false,
            "in": "query",
            "description": "Filter events starting from this date (ISO string)",
            "schema": {}
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search in event name and description",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Published events found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Published events found"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2026-05-23T12:53:38.076Z"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EventDto"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List all published events with ticket information (public endpoint)",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/public/{slug}": {
      "get": {
        "operationId": "EventsController_findPublicEventBySlug",
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Event slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "required": false,
            "in": "query",
            "description": "Sales link code to unlock private tickets",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unlocked_stages",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_artists",
            "required": false,
            "in": "query",
            "description": "Include artist information (default: false)",
            "schema": {}
          },
          {
            "name": "include_tickets",
            "required": false,
            "in": "query",
            "description": "Include ticket information (default: true)",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Published event found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Published event found"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2026-05-23T12:53:38.078Z"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EventDto"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get a single published event by slug (public endpoint)",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/checkout/allowed-document-types": {
      "post": {
        "description": "Returns the allowed document types for a set of ticket types based on their locality configurations.",
        "operationId": "CheckoutController_getAllowedDocumentTypes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Allowed document types retrieved successfully"
          }
        },
        "summary": "Get allowed document types",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/api/checkout/start": {
      "post": {
        "description": "Initiates a checkout session for purchasing tickets. Returns a redirect URL for payment.",
        "operationId": "CheckoutController_startCheckout",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartCheckoutDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or tickets not available"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "summary": "Start a checkout session",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/api/checkout/status/{orderId}": {
      "get": {
        "description": "Returns the current status of an order/checkout session, including payment status and tickets if completed.",
        "operationId": "CheckoutController_getCheckoutStatus",
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "description": "Order ID from the checkout session",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutStatusDto"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        },
        "summary": "Get checkout status",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/api/promo-codes/validate": {
      "post": {
        "operationId": "PromoCodesController_validatePromoCode",
        "parameters": [],
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "Validate a promo code (public)",
        "tags": [
          "promo-codes"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CheckoutCustomerDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Customer email address"
          },
          "name": {
            "type": "string",
            "description": "Customer full name"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "document_type": {
            "type": "string",
            "description": "Document type (CC, NIT, CE, PASSPORT)",
            "enum": [
              "CC",
              "NIT",
              "CE",
              "PASSPORT"
            ]
          },
          "document_number": {
            "type": "string",
            "description": "Document number"
          }
        },
        "required": [
          "email",
          "name",
          "document_type",
          "document_number"
        ]
      },
      "CheckoutItemDto": {
        "type": "object",
        "properties": {
          "ticket_type_id": {
            "type": "string",
            "description": "Ticket type ID"
          },
          "selling_stage_id": {
            "type": "string",
            "description": "Selling stage ID"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity of tickets",
            "minimum": 1
          },
          "discount_code": {
            "type": "string",
            "description": "Discount code to apply"
          }
        },
        "required": [
          "ticket_type_id",
          "selling_stage_id",
          "quantity"
        ]
      },
      "CheckoutResponseDto": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Order ID"
          },
          "checkout_session_id": {
            "type": "string",
            "description": "Checkout session ID from payment provider (null for free orders)",
            "nullable": true
          },
          "payment_provider": {
            "type": "string",
            "description": "Payment provider used",
            "enum": [
              "bold",
              "FREE"
            ]
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect customer - for paid orders goes to payment provider, for free orders goes to order confirmation"
          },
          "total_amount": {
            "type": "number",
            "description": "Order total amount - 0 for free orders"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "expires_at": {
            "format": "date-time",
            "type": "string",
            "description": "Checkout session expiration time (null for free orders)",
            "nullable": true
          }
        },
        "required": [
          "order_id",
          "payment_provider",
          "redirect_url",
          "total_amount",
          "currency"
        ]
      },
      "CheckoutStatusDto": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Order ID"
          },
          "status": {
            "type": "string",
            "description": "Order status",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "payment_status": {
            "type": "string",
            "description": "Payment status",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED"
            ]
          },
          "total_amount": {
            "type": "number",
            "description": "Total amount in cents"
          },
          "paid_amount": {
            "type": "number",
            "description": "Amount paid in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "tickets": {
            "description": "Tickets generated (if payment completed)",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "order_id",
          "status",
          "payment_status",
          "total_amount",
          "paid_amount",
          "currency"
        ]
      },
      "EventDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "account_id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "start_date": {
            "type": "string"
          },
          "end_date": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PUBLISHED",
              "ONGOING",
              "COMPLETED"
            ]
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "payment_provider": {
            "type": "string",
            "description": "Payment provider for this event (bold)"
          },
          "allows_split_payment": {
            "type": "boolean",
            "description": "Whether split/partial payments are allowed for this event"
          },
          "min_initial_payment_pct": {
            "type": "number",
            "description": "Minimum initial payment percentage (e.g., 50 for 50%)"
          },
          "max_payment_count": {
            "type": "number",
            "description": "Maximum number of payments allowed (e.g., 2 for pay now + pay later)"
          },
          "pulep": {
            "type": "string",
            "description": "PULEP registry number"
          },
          "organizer_terms_url": {
            "type": "string",
            "description": "URL to organizer terms & conditions document"
          },
          "show_exact_availability": {
            "type": "boolean",
            "description": "Show exact ticket count (true) or just Available/Sold Out badges (false)"
          },
          "max_ticket_transfers": {
            "type": "number",
            "description": "Max times a ticket can be transferred, null = unlimited"
          },
          "allows_ticket_upgrades": {
            "type": "boolean",
            "description": "Whether ticket upgrades are allowed"
          },
          "upgrade_same_stage_only": {
            "type": "boolean",
            "description": "Whether upgrade pricing uses the original selling stage"
          },
          "require_individual_data": {
            "type": "boolean",
            "description": "Require individual attendee data for each ticket"
          },
          "pixelIntegration": {
            "type": "object",
            "description": "Pixel tracking integration"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "account_id",
          "name",
          "slug",
          "description",
          "start_date",
          "status",
          "created_at",
          "updated_at"
        ]
      },
      "LocationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "venue": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zip_code": {
            "type": "string"
          },
          "latitude": {
            "type": "number"
          },
          "longitude": {
            "type": "number"
          },
          "capacity": {
            "type": "number"
          },
          "details": {
            "type": "string"
          },
          "created_at": {
            "type": "string"
          },
          "updated_at": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "created_at",
          "updated_at"
        ]
      },
      "StartCheckoutDto": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Event ID"
          },
          "items": {
            "description": "Items to purchase",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutItemDto"
            }
          },
          "customer": {
            "description": "Customer information",
            "allOf": [
              {
                "$ref": "#/components/schemas/CheckoutCustomerDto"
              }
            ]
          },
          "accept_terms": {
            "type": "boolean",
            "description": "Customer accepts terms and conditions"
          },
          "success_url": {
            "type": "string",
            "description": "URL to redirect after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "description": "URL to redirect after cancelled payment"
          },
          "installment_count": {
            "type": "number",
            "description": "Number of installments (1 = full payment, 2+ = split payments)",
            "default": 1,
            "minimum": 1,
            "maximum": 12
          },
          "promo_code": {
            "type": "string",
            "description": "Promo/discount code to apply"
          },
          "promoter_code": {
            "type": "string",
            "description": "Promoter code for sales attribution"
          },
          "referral_code": {
            "type": "string",
            "description": "Referral code for referral attribution"
          },
          "tracking": {
            "description": "Meta CAPI enhanced matching data",
            "allOf": [
              {
                "$ref": "#/components/schemas/TrackingDataDto"
              }
            ]
          }
        },
        "required": [
          "event_id",
          "items",
          "customer",
          "accept_terms"
        ]
      },
      "TrackingDataDto": {
        "type": "object",
        "properties": {
          "fbc": {
            "type": "string",
            "description": "Meta fbc cookie value"
          },
          "fbp": {
            "type": "string",
            "description": "Meta fbp cookie value"
          },
          "client_user_agent": {
            "type": "string",
            "description": "Client user agent"
          },
          "client_ip_address": {
            "type": "string",
            "description": "Client IP address"
          }
        }
      }
    }
  }
}