{
  "openapi": "3.0.0",
  "info": {
    "title": "UnderPass Public API",
    "version": "1.0.0",
    "description": "Public API for browsing events and starting ticket purchases on the UnderPass platform. Use this to build a custom event landing or checkout experience on your own domain. All endpoints are scoped by `account_id` (your tenant's UUID, provided during onboarding).",
    "contact": {
      "name": "UnderPass Engineering",
      "email": "developers@underpass.com.co",
      "url": "https://underpass.com.co"
    }
  },
  "servers": [
    {
      "url": "https://api.underpass.com.co",
      "description": "Production"
    },
    {
      "url": "https://api-dev.underpass.com.co",
      "description": "Development"
    }
  ],
  "paths": {
    "/api/events/public": {
      "get": {
        "operationId": "EventsController_findPublicEvents",
        "parameters": [
          {
            "name": "include_artists",
            "required": false,
            "in": "query",
            "description": "Include artist information (default: false)",
            "schema": {}
          },
          {
            "name": "include_tickets",
            "required": false,
            "in": "query",
            "description": "Include ticket information (default: true)",
            "schema": {}
          },
          {
            "name": "limit",
            "required": false,
            "in": "query",
            "description": "Items per page (default: 50, max: 100)",
            "schema": {}
          },
          {
            "name": "page",
            "required": false,
            "in": "query",
            "description": "Page number (default: 1)",
            "schema": {}
          },
          {
            "name": "country",
            "required": false,
            "in": "query",
            "description": "Filter by event location country",
            "schema": {}
          },
          {
            "name": "city",
            "required": false,
            "in": "query",
            "description": "Filter by event location city",
            "schema": {}
          },
          {
            "name": "start_date_to",
            "required": false,
            "in": "query",
            "description": "Filter events starting until this date (ISO string)",
            "schema": {}
          },
          {
            "name": "start_date_from",
            "required": false,
            "in": "query",
            "description": "Filter events starting from this date (ISO string)",
            "schema": {}
          },
          {
            "name": "search",
            "required": false,
            "in": "query",
            "description": "Search in event name and description",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Published events found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Published events found"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2026-05-23T12:53:38.076Z"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/EventDto"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/PaginationDto"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List all published events with ticket information (public endpoint)",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/events/public/{slug}": {
      "get": {
        "operationId": "EventsController_findPublicEventBySlug",
        "parameters": [
          {
            "name": "slug",
            "required": true,
            "in": "path",
            "description": "Event slug",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "link",
            "required": false,
            "in": "query",
            "description": "Sales link code to unlock private tickets",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "unlocked_stages",
            "required": true,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_artists",
            "required": false,
            "in": "query",
            "description": "Include artist information (default: false)",
            "schema": {}
          },
          {
            "name": "include_tickets",
            "required": false,
            "in": "query",
            "description": "Include ticket information (default: true)",
            "schema": {}
          }
        ],
        "responses": {
          "200": {
            "description": "Published event found",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Published event found"
                    },
                    "timestamp": {
                      "type": "string",
                      "example": "2026-05-23T12:53:38.078Z"
                    },
                    "data": {
                      "$ref": "#/components/schemas/EventDto"
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Get a single published event by slug (public endpoint)",
        "tags": [
          "Events"
        ]
      }
    },
    "/api/checkout/allowed-document-types": {
      "post": {
        "description": "Returns the allowed document types for a set of ticket types based on their locality configurations.",
        "operationId": "CheckoutController_getAllowedDocumentTypes",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Allowed document types retrieved successfully"
          }
        },
        "summary": "Get allowed document types",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/api/checkout/start": {
      "post": {
        "description": "Initiates a checkout session for purchasing tickets. Returns a redirect URL for payment.",
        "operationId": "CheckoutController_startCheckout",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StartCheckoutDto"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutResponseDto"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or tickets not available"
          },
          "404": {
            "description": "Event not found"
          }
        },
        "summary": "Start a checkout session",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/api/checkout/status/{orderId}": {
      "get": {
        "description": "Returns the current status of an order/checkout session, including payment status and tickets if completed.",
        "operationId": "CheckoutController_getCheckoutStatus",
        "parameters": [
          {
            "name": "orderId",
            "required": true,
            "in": "path",
            "description": "Order ID from the checkout session",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Order status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutStatusDto"
                }
              }
            }
          },
          "404": {
            "description": "Order not found"
          }
        },
        "summary": "Get checkout status",
        "tags": [
          "Checkout"
        ]
      }
    },
    "/api/promo-codes/validate": {
      "post": {
        "operationId": "PromoCodesController_validatePromoCode",
        "parameters": [],
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "Validate a promo code (public)",
        "tags": [
          "promo-codes"
        ]
      }
    },
    "/api/sales-links/validate": {
      "post": {
        "operationId": "SalesLinksController_validateSalesLink",
        "parameters": [],
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "Validate a sales link code (public)",
        "tags": [
          "sales-links"
        ]
      }
    },
    "/api/referrals/program/{eventId}": {
      "get": {
        "operationId": "ReferralsController_getPublicReferralProgram",
        "parameters": [
          {
            "name": "eventId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "summary": "Get public referral program info",
        "tags": [
          "referrals"
        ]
      }
    },
    "/api/referrals/validate": {
      "post": {
        "operationId": "ReferralsController_validateReferralCode",
        "parameters": [],
        "responses": {
          "201": {
            "description": ""
          }
        },
        "summary": "Validate a referral code (public)",
        "tags": [
          "referrals"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CheckoutCustomerDto": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Customer email address"
          },
          "name": {
            "type": "string",
            "description": "Customer full name"
          },
          "phone": {
            "type": "string",
            "description": "Customer phone number"
          },
          "document_type": {
            "type": "string",
            "description": "Document type (CC, NIT, CE, PASSPORT)",
            "enum": [
              "CC",
              "NIT",
              "CE",
              "PASSPORT"
            ]
          },
          "document_number": {
            "type": "string",
            "description": "Document number"
          }
        },
        "required": [
          "email",
          "name",
          "document_type",
          "document_number"
        ]
      },
      "CheckoutItemDto": {
        "type": "object",
        "properties": {
          "ticket_type_id": {
            "type": "string",
            "description": "Ticket type ID"
          },
          "selling_stage_id": {
            "type": "string",
            "description": "Selling stage ID"
          },
          "quantity": {
            "type": "number",
            "description": "Quantity of tickets",
            "minimum": 1
          },
          "discount_code": {
            "type": "string",
            "description": "Discount code to apply"
          }
        },
        "required": [
          "ticket_type_id",
          "selling_stage_id",
          "quantity"
        ]
      },
      "CheckoutResponseDto": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Order ID"
          },
          "checkout_session_id": {
            "type": "string",
            "description": "Checkout session ID from payment provider (null for free orders)",
            "nullable": true
          },
          "payment_provider": {
            "type": "string",
            "description": "Payment provider used",
            "enum": [
              "bold",
              "FREE"
            ]
          },
          "redirect_url": {
            "type": "string",
            "description": "URL to redirect customer - for paid orders goes to payment provider, for free orders goes to order confirmation"
          },
          "total_amount": {
            "type": "number",
            "description": "Order total amount - 0 for free orders"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "expires_at": {
            "format": "date-time",
            "type": "string",
            "description": "Checkout session expiration time (null for free orders)",
            "nullable": true
          }
        },
        "required": [
          "order_id",
          "payment_provider",
          "redirect_url",
          "total_amount",
          "currency"
        ]
      },
      "CheckoutStatusDto": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "string",
            "description": "Order ID"
          },
          "status": {
            "type": "string",
            "description": "Order status",
            "enum": [
              "PENDING",
              "CONFIRMED",
              "EXPIRED",
              "CANCELLED"
            ]
          },
          "payment_status": {
            "type": "string",
            "description": "Payment status",
            "enum": [
              "PENDING",
              "COMPLETED",
              "FAILED"
            ]
          },
          "total_amount": {
            "type": "number",
            "description": "Total amount in cents"
          },
          "paid_amount": {
            "type": "number",
            "description": "Amount paid in cents"
          },
          "currency": {
            "type": "string",
            "description": "Currency code"
          },
          "tickets": {
            "description": "Tickets generated (if payment completed)",
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "order_id",
          "status",
          "payment_status",
          "total_amount",
          "paid_amount",
          "currency"
        ]
      },
      "EventDto": {
        "type": "object",
        "description": "Full event payload returned by the public events endpoints.",
        "properties": {
          "id": {
            "type": "string",
            "description": "Event ID (cuid).",
            "example": "cmp2x91zk02bvun01rfbq7bh5"
          },
          "account_id": {
            "type": "string",
            "format": "uuid",
            "description": "Organizer account UUID."
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "description": "URL-safe identifier used in `/events/public/{slug}`."
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "DRAFT",
              "PUBLISHED",
              "ONGOING",
              "COMPLETED"
            ],
            "description": "Public endpoints only return PUBLISHED."
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "location_id": {
            "type": "string"
          },
          "allows_split_payment": {
            "type": "boolean"
          },
          "min_initial_payment_pct": {
            "type": "integer",
            "description": "Required initial payment % when split payment is enabled.",
            "example": 50
          },
          "max_payment_count": {
            "type": "integer",
            "description": "Max number of installments allowed."
          },
          "pulep": {
            "type": "string",
            "description": "Colombian regulatory identifier. Empty string when not set."
          },
          "organizer_terms_url": {
            "type": "string",
            "description": "URL to organizer terms page. Empty string when not set."
          },
          "show_exact_availability": {
            "type": "boolean",
            "description": "When false, render \"Disponible\"/\"Agotado\" instead of exact counts."
          },
          "max_ticket_transfers": {
            "type": "integer",
            "nullable": true
          },
          "allows_ticket_upgrades": {
            "type": "boolean"
          },
          "upgrade_same_stage_only": {
            "type": "boolean"
          },
          "require_individual_data": {
            "type": "boolean",
            "description": "When true, checkout collects per-attendee info (one block per ticket \u00d7 quantity)."
          },
          "payment_provider": {
            "type": "string",
            "enum": [
              "bold"
            ],
            "description": "Only present on the by-slug endpoint, not on the list response."
          },
          "pixelIntegration": {
            "$ref": "#/components/schemas/PixelIntegrationDto",
            "nullable": true,
            "description": "Pixel + analytics tag IDs for client-side initialization. May be `null` when the organizer has no pixels configured. NEVER includes server-side secrets (e.g. Meta CAPI tokens) \u2014 those stay on the UnderPass backend."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "location": {
            "$ref": "#/components/schemas/LocationDto"
          },
          "media": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventMediaDto"
            }
          },
          "eventArtists": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EventArtistDto"
            },
            "description": "Lineup. Sort by `position` ascending."
          },
          "ticketTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TicketTypeDto"
            }
          },
          "sellingStages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SellingStageDto"
            }
          },
          "organizer": {
            "$ref": "#/components/schemas/OrganizerDto"
          },
          "ticketAvailability": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TicketAvailabilityDto"
            },
            "description": "Denormalized \"what to render right now\" \u2014 already filtered to currently-purchasable rows. Use this directly in the ticket picker."
          },
          "processing_fee_rate": {
            "type": "number",
            "description": "Bold processing fee rate (percentage). Only present on the by-slug endpoint. Use this in the checkout summary to render the buyer-paid service fee breakdown.",
            "example": 0.85
          },
          "ticket_commission_rate": {
            "type": "number",
            "description": "Ticket commission rate (percentage) applied to the buyer at checkout in addition to processing fees. Only present on the by-slug endpoint.",
            "example": 0
          }
        }
      },
      "LocationDto": {
        "type": "object",
        "description": "Physical location of an event.",
        "properties": {
          "id": {
            "type": "string"
          },
          "venue": {
            "type": "string",
            "example": "La Frecuencia Violeta"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "country": {
            "type": "string"
          },
          "zip_code": {
            "type": "string",
            "nullable": true
          },
          "latitude": {
            "type": "number",
            "nullable": true
          },
          "longitude": {
            "type": "number",
            "nullable": true
          },
          "capacity": {
            "type": "integer",
            "nullable": true
          },
          "details": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "StartCheckoutDto": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "Event ID"
          },
          "items": {
            "description": "Items to purchase",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CheckoutItemDto"
            }
          },
          "customer": {
            "description": "Customer information",
            "allOf": [
              {
                "$ref": "#/components/schemas/CheckoutCustomerDto"
              }
            ]
          },
          "accept_terms": {
            "type": "boolean",
            "description": "Customer accepts terms and conditions"
          },
          "success_url": {
            "type": "string",
            "description": "URL to redirect after successful payment"
          },
          "cancel_url": {
            "type": "string",
            "description": "URL to redirect after cancelled payment"
          },
          "installment_count": {
            "type": "number",
            "description": "Number of installments (1 = full payment, 2+ = split payments)",
            "default": 1,
            "minimum": 1,
            "maximum": 12
          },
          "promo_code": {
            "type": "string",
            "description": "Promo/discount code to apply"
          },
          "promoter_code": {
            "type": "string",
            "description": "Promoter code for sales attribution"
          },
          "referral_code": {
            "type": "string",
            "description": "Referral code for referral attribution"
          },
          "tracking": {
            "description": "Meta CAPI enhanced matching data",
            "allOf": [
              {
                "$ref": "#/components/schemas/TrackingDataDto"
              }
            ]
          }
        },
        "required": [
          "event_id",
          "items",
          "customer",
          "accept_terms"
        ]
      },
      "TrackingDataDto": {
        "type": "object",
        "properties": {
          "fbc": {
            "type": "string",
            "description": "Meta fbc cookie value"
          },
          "fbp": {
            "type": "string",
            "description": "Meta fbp cookie value"
          },
          "client_user_agent": {
            "type": "string",
            "description": "Client user agent"
          },
          "client_ip_address": {
            "type": "string",
            "description": "Client IP address"
          }
        }
      },
      "PixelIntegrationDto": {
        "type": "object",
        "description": "Public-facing pixel + analytics tag IDs for an event. Initialize each on every page that renders event data (event detail, ticket select, checkout, order confirmation). All values are client-safe \u2014 meant to be embedded in browser scripts. **Server-side secrets** (e.g. Meta CAPI access tokens) are NEVER returned by this endpoint and must not be passed by clients.",
        "properties": {
          "meta_pixel_id": {
            "type": "string",
            "nullable": true,
            "description": "Meta (Facebook) pixel ID. May be a single ID or comma-separated list (e.g. `123,456`). Initialize each separately via `fbq(\"init\", \"<id>\")`.",
            "example": "1493256712205722"
          },
          "tiktok_pixel_id": {
            "type": "string",
            "nullable": true,
            "description": "TikTok pixel ID. Pass to `ttq.load(<id>)`.",
            "example": "C1A2B3C4D5E6"
          },
          "google_analytics_id": {
            "type": "string",
            "nullable": true,
            "description": "GA4 Measurement ID (`G-XXXXXXXXXX`). Pass to `gtag(\"config\", id)`."
          },
          "google_tag_manager_id": {
            "type": "string",
            "nullable": true,
            "description": "GTM container ID (`GTM-XXXXXXX`)."
          },
          "twitter_pixel_id": {
            "type": "string",
            "nullable": true,
            "description": "Twitter / X conversion tracking pixel ID."
          },
          "linkedin_partner_id": {
            "type": "string",
            "nullable": true,
            "description": "LinkedIn Insight Tag partner ID."
          }
        }
      },
      "EventMediaDto": {
        "type": "object",
        "description": "Image or video attached to an event. Render `is_primary` first, then sort by `position`.",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "IMAGE",
              "VIDEO"
            ],
            "example": "IMAGE"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "s3_key": {
            "type": "string"
          },
          "title": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer",
            "nullable": true
          },
          "is_primary": {
            "type": "boolean",
            "description": "Render this as the hero image."
          },
          "is_secondary": {
            "type": "boolean"
          },
          "file_name": {
            "type": "string"
          },
          "file_size": {
            "type": "integer",
            "description": "Bytes."
          },
          "mime_type": {
            "type": "string"
          },
          "dimensions": {
            "type": "string",
            "example": "1080x1350",
            "description": "Format \"<width>x<height>\"."
          },
          "duration": {
            "type": "number",
            "description": "Seconds, for video media.",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "ArtistDto": {
        "type": "object",
        "description": "Performer / DJ. Most social fields are nullable.",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "bio": {
            "type": "string",
            "nullable": true
          },
          "genre": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "website": {
            "type": "string",
            "nullable": true
          },
          "instagram": {
            "type": "string",
            "description": "Handle including the `@`.",
            "nullable": true
          },
          "facebook": {
            "type": "string",
            "nullable": true
          },
          "twitter": {
            "type": "string",
            "nullable": true
          },
          "spotify": {
            "type": "string",
            "nullable": true
          },
          "youtube": {
            "type": "string",
            "nullable": true
          },
          "soundcloud": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "EventArtistDto": {
        "type": "object",
        "description": "Lineup entry. Sort by `position` ascending when rendering the lineup.",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "artist_id": {
            "type": "string"
          },
          "performance_type": {
            "type": "string",
            "enum": [
              "headliner",
              "dj_set",
              "live_set",
              "support"
            ],
            "description": "Artist role. Treat unknown values as \"support\"."
          },
          "performance_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "stage_notes": {
            "type": "string",
            "nullable": true
          },
          "position": {
            "type": "integer"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "artist": {
            "$ref": "#/components/schemas/ArtistDto"
          }
        }
      },
      "LocalityDto": {
        "type": "object",
        "description": "A logical seating zone within an event (e.g. GENERAL, BACKSTAGE). Tickets are scoped to a locality.",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "GENERAL"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "amenities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "allowed_document_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "CC",
                "CE",
                "PA",
                "TI",
                "NIT",
                "PEP",
                "DNI",
                "RUT"
              ]
            },
            "description": "Empty array means all document types are allowed."
          },
          "position": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "TicketTypeDto": {
        "type": "object",
        "description": "A purchasable ticket variant within a locality. Pricing varies per `SellingStage`.",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "locality_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Early Bird"
          },
          "description": {
            "type": "string"
          },
          "group_size": {
            "type": "integer",
            "description": "Number of attendees per ticket (1 = single, 2 = 2-for-1, etc.)."
          },
          "max_per_order": {
            "type": "integer",
            "nullable": true
          },
          "requires_info": {
            "type": "boolean",
            "description": "When true, buyer must fill in attendee info per ticket at checkout."
          },
          "transferable": {
            "type": "boolean"
          },
          "allows_split_payment": {
            "type": "boolean"
          },
          "min_initial_payment": {
            "type": "number",
            "nullable": true
          },
          "max_payment_installments": {
            "type": "integer"
          },
          "promoter_commission": {
            "type": "string",
            "description": "Commission paid to promoters per sold ticket. **Decimal serialized as string** \u2014 parse before doing math (`parseFloat(promoter_commission)`).",
            "example": "5000"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "locality": {
            "$ref": "#/components/schemas/LocalityDto"
          }
        }
      },
      "StagePricingDto": {
        "type": "object",
        "description": "Price of a TicketType within a specific SellingStage.",
        "properties": {
          "id": {
            "type": "string"
          },
          "selling_stage_id": {
            "type": "string"
          },
          "ticket_type_id": {
            "type": "string"
          },
          "price": {
            "type": "string",
            "description": "Price in `currency` integer units (no decimals for COP). **Decimal serialized as string** \u2014 parse with `parseInt(price, 10)` for display.",
            "example": "30000"
          },
          "currency": {
            "type": "string",
            "enum": [
              "COP"
            ],
            "description": "Currently always COP."
          },
          "is_courtesy": {
            "type": "boolean",
            "description": "Courtesy (gifted) ticket \u2014 no payment required."
          },
          "visibility": {
            "type": "string",
            "enum": [
              "PUBLIC",
              "PRIVATE"
            ],
            "description": "`PRIVATE` tickets only appear when unlocked via a sales link or promo code."
          },
          "max_quantity_in_stage": {
            "type": "integer",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "SellingStageDto": {
        "type": "object",
        "description": "A sales window for an event. Each ticket type has a `StagePricing` row per stage.",
        "properties": {
          "id": {
            "type": "string"
          },
          "event_id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "example": "Preventa 1"
          },
          "start_date": {
            "type": "string",
            "format": "date-time"
          },
          "end_date": {
            "type": "string",
            "format": "date-time"
          },
          "max_tickets": {
            "type": "integer",
            "description": "Hard cap across all ticket types in this stage. `null` = uncapped.",
            "nullable": true
          },
          "is_hidden": {
            "type": "boolean",
            "description": "Hidden stages are only revealed by promo codes that grant `UNLOCK_STAGE`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "deleted_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "stagePricing": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StagePricingDto"
            },
            "description": "Pricing per ticket type in this stage. Included on `ticketAvailability[].sellingStage`."
          }
        }
      },
      "TicketAvailabilityDto": {
        "type": "object",
        "description": "The denormalized \"what to render in the ticket picker\" view. One entry per (TicketType \u00d7 currently-active SellingStage) \u2014 already filtered to what the buyer can actually purchase right now.",
        "properties": {
          "ticketType": {
            "$ref": "#/components/schemas/TicketTypeDto"
          },
          "sellingStage": {
            "$ref": "#/components/schemas/SellingStageDto"
          },
          "totalDelta": {
            "type": "integer",
            "description": "Total available units across the locality."
          },
          "available": {
            "type": "integer",
            "description": "Remaining units for THIS ticket type. Render \"Agotado\" badge when `<= 0`."
          },
          "maxQuantity": {
            "type": "integer",
            "nullable": true
          },
          "stagePricing": {
            "$ref": "#/components/schemas/StagePricingDto"
          }
        }
      },
      "OrganizerDto": {
        "type": "object",
        "description": "Public-facing organizer info shown on event pages. On the list endpoint only `collective` is populated; on the by-slug endpoint the legal / contact fields are also included so the page can render a full organizer card.",
        "properties": {
          "collective": {
            "type": "string",
            "description": "Organizer / collective display name.",
            "example": "Euphorika"
          },
          "legalRepresentative": {
            "type": "string",
            "nullable": true,
            "description": "Legal entity name. Slug endpoint only.",
            "example": "EUPHORIKA SAS"
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true,
            "description": "Public contact email for the organizer. Slug endpoint only."
          },
          "phone": {
            "type": "string",
            "nullable": true,
            "description": "Public contact phone for the organizer. Slug endpoint only."
          },
          "nit": {
            "type": "string",
            "nullable": true,
            "description": "Colombian tax ID (NIT). Slug endpoint only."
          }
        }
      },
      "PaginationDto": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 50
          },
          "total": {
            "type": "integer",
            "example": 7
          },
          "total_pages": {
            "type": "integer",
            "example": 1
          }
        }
      }
    }
  }
}